*{
    padding: 0;
    margin: 0;
}
.main-content{
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-110%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);   
}
.text-header{
    background-color: #ecf0f1;
    pad: 5px;
}
.text-header .btn{
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 5px;
    cursor:pointer;
}
.content{
    min-height: 200px;
    border: 1px solid #ecf0f1;
    border-top: 0px;
    padding: 20px;
    background-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100%;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 9999;
    padding: 20px 30px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: poppins;
  }
  
  .logo {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-family: poppins;
    font-weight: 500;
    color: white;
  }
  
  #checkbox,
  .menubtn {
    display: none;
    cursor: pointer;
  }
  
  section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100%;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 9999;
    padding: 20px 30px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: poppins;
  }
  
  .logo {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-family: poppins;
    font-weight: 500;
    color: black;
  }
  
  #checkbox,
  .menubtn {
    display: none;
    cursor: pointer;
  }
  
  section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  
  @media only screen and (max-width: 600px) {
    .menubtn {
      display: block;
      margin-left: auto;
    }
  
    .im.im-menu-dot-h {
      color: white;
      margin-left: auto;
    }
    .menu {
      display: none;
    }
  
    #checkbox:checked + .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: calc(50vh - 100px);
      right: 50%;
      transform: translateX(50%);
      text-align: center;
      background-color: black;
      padding: 50px;
      border-radius: 20px;
      z-index: 9999;
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.45);
    }
  }
  
  body{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(177,207,242,1) 100%);
  }